@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url(reset.css);
@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/conteudo.css);
@import url(styles/footer.css);

:root {
    --cor-de-fundo: #8E5D52;
    --branco: #FFF2E7;
    --sarala: 'Sarala';
    --righteous: 'Righteous';
}

body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%) no-repeat;
}